@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  /* background-color: #242424; */

  /* display: flex;
  place-items: center; */
  min-width: 320px;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

h2 {
  font-size: 2rem;
}

.home-grid-container {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  gap: 1rem;
  padding: 0.5rem 3rem;
}

.grid-1 {
  grid-column: 1 / 11;
}

.grid-1-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.grid-2 {
  grid-column: 2 / 7;
  /* background-color: #747bff; */
}
.grid-3 {
  grid-column: 1 / 8;
}

.grid-3-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
}

.grid-4 {
  grid-column: 8 / 11;
  grid-row: 2 / 4;
  /* background-color: #242424; */
}

@media screen and (max-width: 868px) {
  .home-grid-container {
    padding: 0.5rem;
  }

  .grid-1 {
    grid-column: 1 / 11;
  }

  .grid-2 {
    grid-column: 2 / 10;
  }

  .grid-3 {
    grid-column: 1 / 11;
  }

  .grid-3-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  }

  .grid-4 {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .home-grid-container {
    padding: 0.5rem 6rem;
  }
}

@media screen and (min-width: 1400px) {
  .home-grid-container {
    padding: 0.5rem 4rem;
  }

  .grid-1 {
    grid-column: 2 / 10;
  }

  .grid-2 {
    grid-column: 2 / 8;
  }

  .grid-1-container {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }

  .grid-3 {
    grid-column: 2 / 8;
  }

  .grid-3-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  }

  .grid-4 {
    grid-column: 8 / 10;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
